@import "base.scss";
@import "vars.scss";

.main_header {
  display: table;
  min-height: 35vh;
  min-width: 100vw;
  position: relative;
  text-align: center;
  h1 {
    margin-top: 10vh ;
  }
}

.container {
  width: 1250px;
  margin: 0 auto;
  display: block;
}

.column_right {
  margin: 20px 0 14px;
  width: 1000px;
  float: left;
  position: relative;
}

.product_area {
  display: table;
  width: 100%;
}

.product {
  width: 240px;
  height: 545px;
  border: 1px solid $border1;
  margin: 10px 5px 0;
  padding: 10px 10px 18px;
  position: relative;
  float: left;
}

.product_horizontal {
  display: table;
  float: none;
  width: 99%;
  height: 240px;
  .product_code {
    position: absolute;
    top: 11px;
    left: 248px;
    font-size: 12px;
    color: $gray;
  }
  .product_photo {
    float: left;
    margin: 0;
  }
  .product_description {
    float: left;
    padding: 28px 70px 19px 19px;
    width: 505px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
  .product_tags {
    display: block;
    float: left;
    padding: 0 0 65px 20px;
    width: 505px;
    line-height: 17px;
    p {
      display: inline-block;
      font-size: 13px;
      line-height: 16px;
      color: $grayer;
      font-weight: 700;
      margin: 0;
    }
    a {
      display: inline;
      font-size: 13px;
      line-height: 16px;
      color: $gray;
    }
  }
  .product_units {
    top: 130px;
    position: absolute;
    right: 12px;
    z-index: 9;
    .unit--wrapper {
      display: table;
      width: 100%;
      .unit--select {
        float: left;
        padding: 3px 5px;
        margin: 0 0 0 5px;
        cursor: pointer;
        p {
          font-size: 13px;
          line-height: 13px;
          color: $font4;
          border-bottom: 1px dotted $font4;
          margin: 0;
        }
      }
      .unit--active {
        background-color: $black;
        cursor: default;
        p {
          color: $white;
          border-bottom: 1px dotted transparent;
        }
      }
    }
  }
  .product_price_club_card {
    top: 40px;
    bottom: inherit;
    font-size: 25px;
    font-weight: 700;
    color: $black;
    margin: 0;
    position: absolute;
    right: 8px;
    line-height: 18px;
    .product_price_club_card_text {
      font-weight: 400;
      font-size: 14px;
      display: inline-block;
      text-align: right;
      line-height: 17px;
      margin-right: 16px;
    }
  }
  .product_price_default {
    top: 80px;
    bottom: inherit;
    color: $font1;
    font-size: 25px;
    margin: 0;
    position: absolute;
    right: 8px;
    line-height: 18px;
  }
  .product_price_points {
    top: 110px;
    display: block;
    position: absolute;
    right: 12px;
    p {
      font-size: 12px;
      line-height: 17px;
      color: $font2;
      margin: 0;
    }
  }
  .list--unit-padd {
    display: table;
    width: 1px;
    height: 275px;
  }
  .list--unit-desc {
    bottom: 95px;
    right: 10px;
    position: absolute;
    width: 222px;
    margin: 10px 0 5px;
    padding: 5px 10px;
    background: $white;
    border: 1px solid $border2;
    .unit--desc-i {
      display: inline-block;
      vertical-align: top;
      width: 15px;
      height: 15px;
      margin: 8px 10px 0 0;
      background: url(../data/images/icons/product/unit--i.png) 50% no-repeat;
      background-size: cover;
    }
    .unit--desc-t {
      display: inline-block;
      p {
        font-size: 13px;
        line-height: 15px;
        margin: 0 0 18px;
        span {
          display: block;
        }
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  .list--unit-desc:after,
  .list--unit-desc:before {
    content: "";
    position: absolute;
    bottom: -7px;
    border-top: 8px solid;
    display: block;
    width: 0;
    height: 0;
  }
  .list--unit-desc:before {
    margin-bottom: -1px;
    border-color: $border2;
    color: $border2;
    left: 13px;
    border-left: 8px solid transparent!important;
    border-right: 8px solid transparent!important;
  }
  .list--unit-desc:after {
    border-color: $white;
    left: 14px;
    border-left: 7px solid transparent!important;
    border-right: 7px solid transparent!important;
  }
  .product_count_wrapped {
    left: auto;
    right: 164px;
    line-height: 37px;
    height: 40px;
    width: 67px;
    display: inline-block;
    position: absolute;
    bottom: 50px;
    border: 1px solid $border2;
    background: $white;
    .stepper {
      margin: 0 0 10px;
      overflow: hidden;
      position: relative;
      .stepper-input {
        border: none;
        color: $font3;
        font-size: 13px;
        line-height: 1.2;
        overflow: hidden;
        margin: 0;
        padding: 12px 0 10px;
        width: 40px;
        z-index: 49;
      }
      .stepper-arrow  {
        background: url(../data/images/templates/jquery.fs.stepper-arrows.png) no-repeat $white;
        border: 1px solid $border2;
        cursor: pointer;
        display: block;
        height: 50%;
        position: absolute;
        right: 0;
        text-indent: -99999px;
        width: 25px;
        z-index: 50;
      }
      .up {
        position: absolute;
        background-position: -28px 0;
        border-bottom: none;
        border-top: none;
        border-right: none;
        top: 0;
      }
      .down {
        position: absolute;
        background-position: -28px -20px;
        border-bottom: none;
        border-right: none;
        bottom: 0;
      }
    }
  }
  .btn {
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0 25px;
    font-size: 14px;
    text-decoration: none;
  }
  .btn_cart {
    position: absolute;
    right: 10px;
    bottom: 50px;
    width: 148px;
    font-size: 14px;
    padding: 0 0 0 20px;
    cursor: pointer;
    background: $accent;
    color: $white;
    .ic_cart {
      position: absolute;
      left: 10px;
      width: 20px;
      height: 20px;
      background: none;
      font-size: 20px;
    }
  }
  .btn_cart:hover {
    background: $font3;
  }
}

.product_status_tooltip_container {
  float: right;
  margin-top: 0;
}
.product_status {
  cursor: pointer;
  color: $green;
  border-bottom: 1px dotted $green;
  text-decoration: none;
}
.product_photo {
  text-align: center;
  position: relative;
  width: 220px;
  height: 220px;
  a {
    display: block;
  }
  img {
    max-width: 160px;
    max-height: 160px;
  }
}
.url--link {
  cursor: pointer;
}
a {
  color: $black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0;
}
input {
  -webkit-appearance: none;
  text-align: center;
  border-radius: 0;
}

.main_footer {
  display: table;
  position: absolute;
  top: 100vh;
  min-width: 100vw;
  padding: 28px 0;
  background-color: darken($dark, 8%);
  text-align: center;
  color: $footer1;
}
.footer_logo {
  font-family: Play, sans-serif;
  font-size: 22px;
  line-height: 1.2;
  span {
    display: block;
    font-size: 27px;
    a:link,
    a:visited,
    a:active{
      color: $footer2;
      text-decoration: none;
    }
    a:hover {
      color: $accent;
      text-decoration: none;
    }
  }
}
.footer_copy {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}