$white: #fff;
$border1: #e0e0e0;
$border2: #ccc;
$font1: #a7a7a7;
$font2: #999;
$font4: #707070;
$gray: #666;
$grayer: #545454;
$font3: #333;
$black: #000;
$green: #093;
$accent: #f90;
$dark: #d3ffb1;
$footer1: #004f1e;
$footer2: #003415;