$accent: #ff5b00;
$accent_shadow: #903d00;
$dark: #293a43;
$gray: #4b5a65;
$grayer: #434F5A;
$white: #fff;
$light: #ededed;
$border: #dadada;
$font: #333;
$font_header: #666;
$footer1: #4e5355;
$footer2: #707476;
$black: #000;
$gutter: 20px;